@page "/leaderboard"

<body>
    <div class="leaderboard">
        <h1>LeaderBoard</h1>
        <section class="scores">
        <table>
            <tr>
                <th>User Name</th>
                <th>Wins</th>
                <th>Losses</th>
                <th>Ties</th>
            </tr>
            <tr>
                <td>Kris</td>
                <td>5</td>
                <td>3</td>
                <td>10</td>
            </tr>
        </table>
        </section>
    </div>
</body>
